<footer>
    <section class="contact-section">
      <ul class="social-icon">
        <li class="social-icon__item"><img class="social-icon__link" src="/assets/facebook.svg" alt=""></li>
        <li class="social-icon__item"><img class="social-icon__link" src="/assets/instagram.svg" alt=""></li>
        <li class="social-icon__item"><img class="social-icon__link" src="/assets/twitter.svg" alt=""></li>
        <li class="social-icon__item"><img class="social-icon__link" src="/assets/linkedin.svg" alt=""></li>
      </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Inicio</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Sobre</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Servicos</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Time</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contato</a></li>
    </ul>
    </section>
</footer>
