<app-header></app-header>
<main>
  <div class="main-container">
    <section class="first-section">
      <div class="headline">
        <h1>Consultoria do pedro</h1>
        <span>A consultoria que voce precisa para o seu negocio</span>
      </div>
      <div class="image-headline">
        <img src="/assets/headline-logo.png" alt="">
      </div>
    </section>
    <section class="benefit-section">
        <div class="benefit-data">
            95% das<br>empresas
        </div>
        <h2>Lorem ipsum dolor sit amet <b>consectetur</b> adipisicing elit. Corporis, ut quas! Ipsa, ipsam eius. Explicabo ad nesciunt possimus quidem labore voluptates, perspiciatis provident eveniet et, similique magnam dolores exercitationem nulla.</h2>
    </section>
    <section class="cta-section">
      <button-primary btnText="fale com nossos especialistas"></button-primary>
    </section>
  </div>
  <news-form></news-form>
  <div class="main-container">
    <section class="subcontent-section">
      <div>
        <img src="/assets/cube.png" alt="">
        <h2>Equipe capacitada</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis aspernatur accusamus placeat et quisquam at, inventore aliquam repellendus debitis explicabo! Ullam aut cum, nihil ea suscipit hic delectus quidem maxime?</p>
      </div>
      <div>
        <img src="/assets/meeting.png" alt="">
        <h2>Seus Projetos Guiados Do Zero</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quibusdam deserunt nam earum modi sunt quidem repellat. Cupiditate repellendus similique sit. Iure expedita saepe distinctio eos odit, consequuntur mollitia culpa?</p>
      </div>
    </section>
    <section class="last-section">
      <h3>Quer elevar seus negocios a outro patamar?</h3>
      <button-primary btnText="fale com nossos especialistas"></button-primary>
    </section>
  </div>
</main>
<app-footer></app-footer>
